.flex_container {
    display: flex;
    border: 1px solid black;
    max-width: 350px;
    margin-bottom: 10px;
}

.item {
    margin: 5px;
    background-color: orangered;
    font-size: 24px;
    text-align: center;
}

.s-0 {
    flex-shrink: 0;
}

.s-1 {
    flex-shrink: 1;
}

.s-2 {
    flex-shrink: 2;
    flex-basis: 100px;
}

.s-3 {
    flex-shrink: 3;
}

.fg-1 {
    flex-grow: 1;
}